body {
  text-align: center;
  font-size: 22px;
}
.infoStyle {
  position: relative;
  display: inline-block;
  margin-top: 40vh;
  background-color: rgb(69, 78, 78);
  border-radius: 10px;
}

.clickStyle {
  display: inline-block;
  cursor: pointer;
  border: solid;
  border-radius: 8px;
  font-size: 22px;
  margin-left: 10px;
}

.textbox {
  width: 250px;
}
